#github {
  display: block;
  margin-left: 47%;
  margin-right: 47%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  user-select: none;
  transition: transform 200ms ease-in-out;
}
#github:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}
