html {
  text-align: center;
}
img {
  height: 350px;
  width: 350px;
  border-radius: 500px;
  border: solid 2px black;
}
#twitter {
  font-family: Helvetica;
  font-weight: bold;
}
#steam {
  font-family: Helvetica;
  font-weight: bold;
}
body {
  background-color: slateblue;
  font-family: Georgia;
  color: white;
}
a {
  background-color: white;
  font-size: 30px;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 20px;
  color: slateblue;
  text-align: center;
}
