#spotify {
  display: block;
  margin-right: 45%;
  margin-left: 45%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  user-select: none;
  transition: transform 200ms ease-in-out;
}
#spotify:hover {
  transform: scale(1.05);
  background-color: rgb(1, 85, 1);
  color: white;
  border: solid 2px rgb(1, 85, 1);
}
