#steam {
  display: block;
  margin-right: 35%;
  margin-left: 35%;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  user-select: none;
  transition: transform 200ms ease-in-out;
}
#steam:hover {
  transform: scale(1.05);
  background-color: rgb(26, 23, 56);
  color: white;
  border: solid 2px rgb(26, 23, 56);
}
